@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#title{
  /* margin-top:5vh; */
  padding:2vh;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-top: 0px;
  margin-bottom:0px;
}

#gameTitle{
  text-decoration: none;
  color:rgb(12, 113, 205);
}

#main{
  margin:0vh 25vh;
  padding-top:2vh;
}

body{
  text-align:center;
  min-height:100vh;
  max-width:100%;
  background-image:url("../images/tessback.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
  font-family:cursive;
}

nav{
  border-bottom:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
  padding-bottom:1vh;
}

ul{
  list-style-type:none;
  text-align: center;
  display:inline;
}

li{
  padding:0vh 5vh 0vh 5vh;
  text-decoration:none;
  display:inline;
}

html{
  width:100%;
}

footer{
  position:fixed;
  left:0;
  bottom:0;
  background-color:rgba(194, 194, 194, 0.88);
  width:100%;
}
